footer.page-footer.deep-purple.lighten-4
  .container
    .row
      .col.l6.s12
        p.white-text
          u Useful Links
      .col.l4.offset-l2.s12
        ul
          li
            a.grey-text.text-lighten-3(href='#!') About
          li
            a.grey-text.text-lighten-3(href='#!') Privacy
          li
            a.grey-text.text-lighten-3(href='#!') Terms of Service
          li
            a.grey-text.text-lighten-3(href='#!') Contact
  .footer-copyright
    .container
      | © 2016 GEN Inc.
       
