head
  meta(charset='UTF-8')
  meta(name='viewport', content='initial-scale=1')
  <meta name="theme-color" content="#5e35b1" />
  title GEN | Event Creation
  meta(name='google-signin-client_id', content='185629692675-jsqjmmqp6c11unoa18vf0ck8ibncdm99.apps.googleusercontent.com')
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
  link(rel='stylesheet', href='bower_components/materialize/dist/css/materialize.css')
  link(rel='stylesheet' href='bower_components/selectize/dist/css/selectize.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(rel='stylesheet', href='css/styles.css')
