script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/pickadate/lib/compressed/picker.js')
script(src='bower_components/pickadate/lib/compressed/picker.time.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
script(src='bower_components/selectize/dist/js/standalone/selectize.js')
script(src='js/main.js')
script(src='js/selectize.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAzhI1uGHALh8iAXoCRQVzVZ3Kj7cT8oAo#&libraries=places&callback=initAutocomplete', async, defer)

