header.dblue-bg
  #logo.row
    .col.s6.offset-s3.center
      img#logo-img.responsive-img(src='img/gen-landing.png', alt='GEN logo')
  .row
    .col.s10.offset-s1.center.white-text
      #mission-statements
        h4.reduce-h4-4 Create and Share Events on Your Favorite Apps.
  .row
    .col.s4.offset-s4
      .divider
main
  section#call-to-action
      .row.white-text
          .col.s10.offset-s1.center-align
              h4.reduce-h4-4 Start Here
          .col.s10.offset-s1.center-align
              i.material-icons.small keyboard_arrow_down
  section#sign.margin-t-1
    .row
      .col.s5.offset-s1.m4.offset-m2.l3.offset-l3.right-align
          a(href="/signin").btn-large.deep-purple.accent-1.em0p7 Sign in
      .col.s5.m4.l3.left-align
          a(href="/signup").btn-large.deep-purple.em0p7 Sign up