nav.purple-bg
  .nav-wrapper
    a.brand-logo(href='/') 
      img.nav-img(src='img/gen-gre.png', alt='GEN logo')
    a.button-collapse(href='#', data-activates='mobile')
      i.material-icons.green-text.text-accent-4 menu
    ul.hide-on-med-and-down.margin-l-6
      li
        a(href='/') Home
    ul.hide-on-med-and-down.right  
      li
        a(href='') About
      li 
        a() Privacy
      li 
        a() Terms of Service
      li
        a() Contact
    ul#mobile-demo.right.side-nav
      li.margin-t-2
        a()
            img.inline-block(src="img/gen-purp.png", width='30')
      li
        a(href='/') Home
      li
        a(href='') About
      li 
        a() Privacy
      li 
        a() Terms of Service
      li
        a() Contact
