extends ../app_layout.pug

block head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1')
    meta(name="theme-color", content="#5e35b1")
    title GEN | Event Creation
    meta(name='google-signin-client_id', content=`${gapiclient}`)
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    //////appheadsocial
    link(rel='stylesheet', href='bower_components/materialize/dist/css/materialize.css')
    link(rel='stylesheet', href='bower_components/selectize/dist/css/selectize.css')
    link(rel='stylesheet', href='css/styles.css')
    //////
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

include ./nav/nav.pug

include ./spinner.pug

block main
    ul#contacts.hide(data-bind="foreach:contacts")
        div.contact
            div.contact-name(data-bind="text:$data.name")
            div.contact-email(data-bind="text:$data.email")
    main#main
        include ./spinnerwhite.pug
        include ./successmessage.pug
        .row.margin-t-2
            .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
                h5.blue-grey-text.text-accent-3 
                    | Ok 
                    span(data-bind="text:firstname")
                    | , let's create your event together
        .row
            form#event-creation.col.s10.offset-s1.m8.offset-m2.l8.offset-l2
                label(for="name-event").teal-text.text-accent-4 What name should we give to this event?
                input#name-event.event-input(type="text", name="name-event", placeholder="Type the event's name here", maxlength="200", autofocus, required)

                - var eventTypes = ["Annual Shareholder Meeting", "Award Ceremonie", "Birthday", "Board Meeting", "Business Dinner", "Conference", "Executive Retreat", "Family Event", "Friend Gathering", "Golf Event", "Incentive Event", "Incentive Travel", "Meeting", "Networking Event", "Opening Ceremonie", "Press Conference", "Product Launch", "Seminar", "Team Building Event", "Theme Party", "Trade Fair", "Trade Show", "Vip Event", "Wedding Anniversarie", "Wedding"];
                label(for="type-event").teal-text.text-accent-4 What type of event is it?
                input#type-event.event-input(list="type-event-list", name="type-event", pattern="^[a-zA-Z\-]{1,200}$", maxlength="200", value="Lunch Meeting", placeholder="Birthday party, Conference, etc.")
                datalist#type-event-list
                    each event in eventTypes
                        option(value= event)

                label(for="place-event").teal-text.text-accent-4.margin-t-2 Where is this event taking place?
                input#place-event.event-input(type="text", name="place-event", placeholder="Enter location, full address, or else", maxlength="500", required)

                label(for="host-event").teal-text.text-accent-4 Who is hosting this event?
                input#host-event.event-input(type="text", name="host-event", placeholder="Type the host's name here", data-bind='value:displayname', maxlength="200", pattern="^[a-zA-Z0-9\-]{1,200}$", required)
                br
                small Contact information for guest inquiries
                .margin-t-1
                .input-field.col.s12.m12.l4
                    i.material-icons.prefix.teal-text.text-accent-4 phone
                    label.hide(for='tel-event') Please enter the host's phone here
                    input#tel-event.event-input(type='tel', placeholder='use numbers only', pattern="^[0-9]{10,15}$", maxlength="15")
                .input-field.col.s12.m12.l4
                    i.material-icons.prefix.teal-text.text-accent-4 mail
                    label.hide(for='mail-event') Please enter the host's email here
                    input#mail-event.event-input(type='email', placeholder='example@gmail.com', data-bind='value:email', maxlength="200", pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/")
                .input-field.col.s12.m12.l4
                    i.material-icons.prefix.teal-text.text-accent-4 link
                    label.hide(for='link-event') Please enter the event's website here
                    input#link-event.event-input(type='url', placeholder='website, facebook page, etc.', pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/")
                    
                label#lab-guests(for="guests-event").teal-text.text-accent-4 Who should we invite?
                input#guests-event.event-input(type="text", name="guests-event", placeholder="Enter email addresses or contacts", required)
                
                .row.margin-t-2
                    h5.label.teal-text.text-accent-4 When does this event start?
                    .col.s6
                        input#startdate-event.event-input(type="date", placeholder="Pick a date").datepicker
                    .col.s6
                        input#starttime-event.event-input(type="text", placeholder="Pick a time").timepicker
                
                .row
                    h5.label.teal-text.text-accent-4 When does this event end?
                    .col.s6
                        input#enddate-event.event-input(type="date", placeholder="Pick a date").datepicker
                    .col.s6
                        input#endtime-event.event-input(type="text", placeholder="Pick a time").timepicker
                
                label(for="details-event").teal-text.text-accent-4 What other information your guests should know?
                textarea#details-event.event-input.materialize-textarea(name="details-event", placeholder="Type information your guests should know before the event.\nStick to the essential.", maxlength="10000")

                button#event-button.btn.green.accent-4.waves-effect.waves-light.margin-t-2.em0p7.modal-trigger(disabled, type="button", data-target="modal1")
                  | Create My Event
                  i.material-icons.right send
                include ./eventconfirm.pug
block scripts
    //////eventsocial
    script(src="bower_components/localforage/dist/localforage.min.js")
    script(src='bower_components/jquery/dist/jquery.min.js')

    script(src='bower_components/pickadate/lib/compressed/picker.js')
    script(src='bower_components/pickadate/lib/compressed/picker.time.js')
    script(src='bower_components/selectize/dist/js/standalone/selectize.js')

    script(src='bower_components/materialize/dist/js/materialize.min.js')

    script(src='bower_components/knockout/dist/knockout.js')

    script(src='js/navinit.js')
    script(src='js/eventmain.js')
    script(src='js/eventsocial.js')
    script(src='js/selectize.js')
    script(src="js/getprofile.js")
    script(src="js/redirect.js")
    script(src="js/signout.js")
    //////
    script(src=`https://maps.googleapis.com/maps/api/js?key=${gmapkey}&libraries=places&callback=initAutocomplete`, async, defer)

