head
  meta(charset='UTF-8')
  meta(name='viewport', content='initial-scale=1')
  meta(name="theme-color", content="#5e35b1")
  title GEN | Event Creation
  meta(name='google-signin-client_id', content=`${gapiclient}`)
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
  link(rel='stylesheet', href='css/apphead.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
