doctype html
html(lang='en')
  include ./headlanding.pug
  body.flow-text
    include ../app/blocks/spinner.pug
    include ./mainlanding.pug
    include ./footerlanding.pug
    include ./scriptslanding.pug
