extends ../app_layout.pug

include ./nav/nav.pug

block main
    main
        .row.margin-t-2
            .col.s10.offset-s1.m12.l8.offset-l2
                h5#intro.blue-grey-text.text-accent-3: small 
                    | Great Job 
                    span(data-bind='text:firstname')
                    | !<br>One more thing before we generate your 
                    span(data-bind='text:event.type') event.
                p: small.blue-grey-text.text-accent-3 Please review the information below.<br>Click/Tap on any information to be edited.
                hr
            .col.s10.offset-s1.m12.l8.offset-l2.center-align
                section#event-review
                    p Your Event
                    .card.z-depth-2.card-padding
                        h4.deep-purple-text: small.editable(contenteditable="true",data-bind="text:event.name") name of the event
                        h5.deep-purple-text: small.editable(contenteditable="true",data-bind="text:event.type, visible:!!event.type") type of the event
                        h5: small 
                            | hosted by
                            br
                            span.editable.deep-purple-text(contenteditable="true",data-bind="text:event.host") Michel ML
                        p: small
                            | Location of the event
                            br
                            span.editable.deep-purple-text(contenteditable="true", data-bind="text:event.location") Chocolats Favoris Cap-Rouge
                        .row
                            .col.s12
                                small   
                                    | The event will start on  
                            .col.s5.l4.offset-l1
                                small
                                    input.deep-purple-text(type="date", data-bind="value:event.startdate")
                            .col.s2
                                small
                                    | at
                            .col.s5.l4
                                small
                                    input.deep-purple-text(type="time", data-bind="value:event.starttime")
                            .col.s12
                                small   
                                    | and will end on  
                            .col.s5.l4.offset-l1
                                small
                                    input.deep-purple-text(type="date", data-bind="value:event.enddate")
                            .col.s2
                                small
                                    | at
                            .col.s5.l4
                                small
                                    input.deep-purple-text(type="time", data-bind="value:event.endtime")
                section#guests-list.margin-t-3
                    p: small
                        | Your guests for this event:
                    .card.z-depth-2.card-padding
                        span: small
                            ul.guests.deep-purple-text(data-bind="foreach:event.guests")
                                li
                                    | - 
                                    span(data-bind="text:name || email")
                section#email-template.margin-t-3: p: small 
                    | Below is the email your guests will receive
                    br
                    span.blue-grey-text.text-lighten-2 (along with a Google Calendar invitation)
                    .editable.left-align.card.z-depth-2.card-padding
                        | Dear guest,<br>
                        | You have received an invitation for an event:<br>
                        span(data-bind="text:event.name.toUpperCase()") "NAME OF EVENT"
                        span(data-bind="visible:true")  - 
                        span(data-bind="text:event.type")
                        br
                        | Hosted by 
                        span(data-bind="text:event.host")
                        br
                        | Event's location: 
                        span(data-bind="text:event.location")
                        br
                        | Start date & time: 
                        span(data-bind="text:event.startdate")
                        |  at 
                        span(data-bind="text:event.starttime")
                        br
                        | End date & time: 
                        span(data-bind="text:event.enddate")
                        |  at 
                        span(data-bind="text:event.endtime")
                        br
                        span(data-bind="visible:true") Some additional details were left for your consideration:
                        br
                        span(data-bind="text:event.details") some details
                        br
                        | Please make sure to reply to this invitation as soon as possible via the link below:
                button#create-account.btn.green.accent-4.waves-effect.waves-light.margin-t-2.em0p7(type='submit', name='action', disabled, onclick='')
                  | Complete and Send invitations
                  i.material-icons.right send

block scripts
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src="bower_components/localforage/dist/localforage.min.js")
    script(src='bower_components/materialize/dist/js/materialize.min.js')
    script(src='bower_components/knockout/dist/knockout.js')
    script(src='js/navinit.js')
    script(src='js/getprofile.js')
    script(src='js/eventsum.js')
