extends ../app_layout.pug

include ./nav/nav.pug

block main
    main
        .row.margin-t-2
            .col.s10.offset-s1.m12.l8.offset-l2
                h5#intro.blue-grey-text.text-accent-3 
                    | Great Job 
                    span(data-bind='text:firstname')
                    | ! One more thing before we generate your 
                    span() event type
                p.blue-grey-text.text-accent-3 Please review and edit your event as needed below.

        .row
            .col.s10.offset-s1.m12.l8.offset-l2
                h2.editable(contenteditable="true") name of the event
                h5.editable(contenteditable="true") type of the event
                h3 
                    | hosted by 
                    span.editable(contenteditable="true") Michel ML
                p
                    | Location of the event: 
                    span.editable(contenteditable="true") Chocolats Favoris Cap-Rouge
                p   
                    | The event will start on  
                    input(type="date")
                    | at 
                    input(type="time")
                    br
                    | and will end on 
                    input(type="date")
                    | at 
                    input(type="time")
                p 
                    | Additional information about your event:
                    br
                    small (transmitted to your guests by email)
                    br
                    span.editable(contenteditable="true") skdjh alskjhf aslkdjhf aslkjdhf laksjdh lfakjhfd laskjdhf lkasjdhf lkjdhf laksjdhf lkasjhdf lkjhdf alksjdhf kalsjhdf lkasjhdflk jahsdlkjf lkajsdh lkfjha lskjdhf laskjdhf klasjhdf lkajhsfdlkj hlsdk hlkajs dlkfja slkdjfh laksjdhf lkajshdfl kjashdlfk jhasldk flkasj dflkafs klsdjahf lksjd kljhdsaf klsjhdf kljshadkl faskljdhf kljsahd kljhkas dllkdfsjhlkasdjhf lakjsdhf lkajshdf lkjashdf lkjahsdflk jhasdlkfj aslkdjhf klajdhf kljahsdfkl jhlksajh kjdsahf lkjhdflk jahsldkf jhalsdkjh laksjdhf lkasjhd flkjashd lkfhj lkjsdhlkasjdf lkjsahdf lkjsahdf lkjashdf lkjsdh .
                p
                    | Your guests for this event:
                    ul.guests
                        - for (var i = 0; i < 10; i++)
                            li a guest with a long name
                button#create-account.btn.green.accent-4.waves-effect.waves-light.margin-t-2.em0p7(type='submit', name='action', disabled, onclick='')
                  | Send invitations
                  i.material-icons.right send

block scripts
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src="bower_components/localforage/dist/localforage.min.js")
    script(src='bower_components/materialize/dist/js/materialize.min.js')
    script(src='bower_components/knockout/dist/knockout.js')
    script(src='js/navinit.js')
    script(src='js/getprofile.js')
    script(src='js/eventsum.js')

