extends ../app_layout.pug

include ./nav/nav.pug

include ./spinner.pug

block main
    main
        section#profile.purple-bg.big-square
            img#profile-image.circle.z-depth-1(data-bind='attr:{src:imagebig}')
        .row.center-align
            .col.s12
                h4#profile-name.blue-grey-text(data-bind='text:displayname')
        section#contact-info.row.blue-grey-text
            .col.s4.m5.right-align
                div.icon-container: i.material-icons.deep-purple-text email
            .col.s8.m7.left-align
                div: small(data-bind='text:email')
        section#personal-bio.row.blue-grey-text
            .col.s10.offset-s1.m8.offset-m2.left-align
                h5: small My Bio
            .col.s10.offset-s1.m8.offset-m2.center-align
                textarea#personal-bio.materialize-textarea(placeholder='Tell the world who you are', data-bind="value:bio")
        section#my-events.row.blue-grey-text
            .col.s10.offset-s1.m8.offset-m2.left-align
                h5: small My Events
            #events-list-div.col.s10.offset-s1.m8.offset-m2.left-align
                include ./spinnerwhitefixed.pug
                p#no-events.blue-grey-text.text-lighten-4: small You have no events created thus far                 
                ul#events-list.collection


block scripts
    script(src="bower_components/localforage/dist/localforage.min.js")
    script(src='js/profile.js')
    include ./redirect.pug
