extends ../app_layout.pug

include ./nav/nav.pug

block main
    main
        .purple-bg.big-square
            img#profile-image.circle.z-depth-1(data-bind='attr:{src:image}')
        .row.center-align
            .col.s12
                h4(data-bind='text:name')
        .row
            .col.s4.m5.right-align
                div.personal-container: i.material-icons email
            .col.s8.m7.left-align
                div.personal-container: small(data-bind='text:email')


block scripts
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src="bower_components/localforage/dist/localforage.min.js")
    script(src='bower_components/materialize/dist/js/materialize.min.js')
    script(src='bower_components/knockout/dist/knockout.js')
    script(src='js/navinit.js')
    script(src='js/getprofile.js')
