extends ../app_layout.pug

include ./nav/nav-visit.pug

block main
    main
        .row
            .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
                h4.green-text.text-accent-4.margin-t-3.reduce-h4-3 Create your account
                h5.blue-grey-text.text-lighten-4 Start creating events right after this quick step.
            .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
                form.margin-t-3
                    label(for="email-account").margin-t-5.blue-grey-text What is your email address?
                    input#email-account.validate(type="email", name="email-account", placeholder="example@gmail.com", autofocus)
                    label(for="password-account").blue-grey-text Choose a password
                    input#password-account(type="password", name="password-account", placeholder="**********")
                    .row.blue-grey-text.text-lighten-2
                        span: small: small Must respect the following:
                        ul: small: small
                            li must be between 6 and 20 characters
                            li must contain a lowercase letter
                            li must contain a uppercase letter
                            li must contain a number
                            li must not contain any special character
                    label(for="password2-account").blue-grey-text Confirm your password
                    input#password2-account(type="password", name="password2-account", placeholder="**********")
                    button#create-account.btn.green.accent-4.waves-effect.waves-light.margin-t-2(type='submit', name='action', disabled, onclick='')
                      | Create 
                      i.material-icons.right send
                    p.em0p7: a(href="/signin") Have an account already? Click here    

block scripts
    script(src='bower_components/jquery/dist/jquery.min.js')    
    script(src="bower_components/localforage/dist/localforage.min.js")
    script(src='bower_components/materialize/dist/js/materialize.min.js')
    script(src='js/navinit.js')
    script.
        $(document).ready(function () {
            //validation of the password input
            var password = {};
            password.elem = $('#password-account');
            password.value = '';
            password.isValid = false;

            var passwordConfirm = {};
            passwordConfirm.elem = $('#password2-account');
            passwordConfirm.value = '';
            passwordConfirm.isValid = false;
            var passwordValidation = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            password.elem.on('keyup', function() {
               isValidPassword(password); 
             });
             passwordConfirm.elem.on('keyup', function() {
               isValidPassword(passwordConfirm); 
               isPasswordConfirmMatching(password,passwordConfirm);
             });

            function isValidPassword(pw) {
                pw.value = pw.elem.val();
                pw.isValid = passwordValidation.test(pw.value);
                if (!pw.value) {
                    pw.elem.removeClass()
                 }
                else if (pw.isValid) {
                    pw.elem.removeClass('invalid');
                    pw.elem.addClass('valid');
                }
                else {
                    pw.elem.removeClass('valid');
                    pw.elem.addClass('invalid');
                }
            }

            function isPasswordConfirmMatching(pw1,pw2) {
                // if passwordconfirm is invalid
                if (!pw2.isValid) {
                    return;
                }
                else if (pw2.isValid && pw1.value !== pw2.value) {
                    pw2.elem.removeClass('valid');
                    pw2.elem.addClass('invalid');
                }
                else if (pw2.isValid && pw1.value === pw2.value) {
                    pw2.elem.removeClass('invalid');
                    pw2.elem.addClass('valid');
                }
            }
        });
