extends ../app_layout.pug

include ./nav/nav-visit.pug

block main
    main
        .row
            .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
                h4.green-text.text-accent-4.margin-t-3.reduce-h4-3 Create your account
                h5.blue-grey-text.text-lighten-4 Start creating events right after this quick step.
            .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
                form.margin-t-3
                    label(for="email-account").margin-t-5.blue-grey-text What is your email address?
                    input#email-account(type="email", name="email-account", placeholder="example@gmail.com")
                    label(for="password-account").blue-grey-text Choose a password
                    input#password-account(type="password", name="password-account", placeholder="**********")
                    label(for="password2-account").blue-grey-text Confirm your password
                    input#password-confirm(type="password", name="password2-account", placeholder="**********")
                    button#create-account.btn.green.accent-4.waves-effect.waves-light.margin-t-2(type='submit', name='action', disabled, onclick='')
                      | Create 
                      i.material-icons.right send
                    p.em0p7: a(href="/signin") Have An Account Already? Click Here    

