#spinnerdiv-white-event.row.valign-wrapper
    #spinner-green.col.s12.valign.center-align
        .preloader-wrapper.big.active
          .spinner-layer.spinner-green-only
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle
