#success-submit.row
    #success-message.col.s12.center-align.margin-t-4
        h4.green-text.text-accent-4 EVENT CREATION SUCCESSFUL!
        h5.blue-grey-text.text-accent-4 
            | Great work 
            span(data-bind="text:firstname") !
        p: small What would you like to do next?
        div
            a.btn.deep-purple(href="/choices") Create new event
        div
            a.btn.deep-purple.accent-3(href="/me#my-events") See my events
