doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport', content='initial-scale=1')
            meta(name="theme-color", content="#5e35b1")
            title GEN | Event Creation
            meta(name='google-signin-client_id', content='185629692675-kl7mt54epmrdl5qa33299f7gkt75e6p4.apps.googleusercontent.com')
            link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
            link(rel='stylesheet', href='bower_components/materialize/dist/css/materialize.css')
            link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
            link(rel='stylesheet', href='css/styles.css')
    body.white.flow-text
        block spinner
        block nav
        block main
            p We are sorry, a problem occured on our side. Try to refresh the page or come back later.
        block footer
            footer.page-footer.white
              .footer-copyright.blue-grey.lighten-3
                .container
                  | © 2016 GEN Inc.
        block scripts
            script(src='bower_components/jquery/dist/jquery.min.js')    
            script(src='bower_components/localforage/dist/localforage.min.js')
            script(src='bower_components/materialize/dist/js/materialize.min.js')
            script(src='js/navinit.js')
